<form id="contact-form" role="form" action="/inquiries" method="post" data-remote="true" novalidate>
  <div class="col-xs-12 form-group">
    <input type="text" name="inquiry[name]" id="inquiry_name" class="form-control" minLength="3" require placeholder="<%= t('simple_form.labels.inquiry.name') %>" >
  </div>
  <div class="col-xs-12 form-group">
    <input type="email" name="inquiry[email]" id="inquiry_email" class="form-control" minLength="5" require placeholder="<%= t('simple_form.labels.inquiry.email') %>">
  </div>
  <div class="col-xs-12 form-group">
    <textarea name="inquiry[message]" id="inquiry_message" rows="10" cols="30" class="form-control" require placeholder="<%= t('simple_form.labels.inquiry.message') %>"></textarea>
  </div>
  <div class="col-xs-12 form-group">
    <input type="submit" class="btn-submit" value="<%= t("gko.inquiry_submit") %>" data-disabled_with="Submitting...">
  </div>
  <div class="col-xs-12 form-group form-group-alert">
    <p id="error" class="alert alert-danger"><%= t("gko.inquiry_error") %></p>
    <p id="thanks" class="alert alert-success"><%= t("gko.inquiry_thanks") %></p>
    <p id="timeout" class="alert alert-warning"><%= t("gko.inquiry_connection_time_out") %></p>
    <p id="state" class="alert alert-danger"></p>
  </div>
</form>
